body {
    text-align: left; 
    background-image: linear-gradient(TO RIGHT, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    font-family: cursive;
    font-size: 20px;
    color: darkblue;
    cursor: pointer;
}
p {
    margin-left: 10px; 
    margin-top: 10px; 
    margin-right: 70px; 
    margin-bottom: 10px; 
}
h1 {
    font-size: 40px;
    font-weight:100;
    color: darkblue;
}
h2 { 
    font-size: 25px; 
    font-weight: 100;
    color: darkblue;
}
label {
    color: #C25313;
    padding: .5px;
    margin: .5px;
}
input {
    border: 2px dotted red;
    border-radius: 4px;
  }
textarea {
    border: 2px dotted red;
    border-radius: 4px;
  }
button {
    padding: 5px;
    margin: 2px;
    border: 2px dashed red;
    border-radius: 4px;
  }

  li, a {
    font-family: cursive;
    font-weight: 500;
    font-size: 18px;
    color:rgb(61, 20, 225);
    text-decoration: none;
    padding: 2px;
  }

  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 5%;
  }

  .nav_links {
    list-style: none;
  }

  .nav_links li {
    display: inline-block;
    padding: 0px 20px;
  }

  .nav_links li a {
    transition: all 0.3s ease 0s;
    position: sticky;
  }

  .nav_links li a:hover {
    color:aliceblue;
  }

  .container {
    padding: 1px;
    margin: 5px;
    box-shadow: 0;
  }
  .item {
    color: darkblue;
    padding: 1px;
    margin: 2px;	
    border-radius: 0px;
  }

  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }